.find-courses {
  background-color: #5c6ac4;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
}

.find-courses:hover {
  background-color: #c28e15;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj8cR-MxeL71-QYWvugbpVYgrF4OOXkKVPvg&s") !important; /* Ścieżka do ikony */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
  background-position: center; /* Ustawia obraz na środku strony */
  background-size: 100px 100px; /* Ustal rozmiar obrazu, dostosuj według potrzeb */
}
